<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddSecurityPersonServlet</servlet-name>
        <servlet-class>servlet.AddSecurityPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailsServlet</servlet-name>
        <servlet-class>servlet.ViewDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>servlet.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBankServlet</servlet-name>
        <servlet-class>servlet.UpdateBankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePerServlet</servlet-name>
        <servlet-class>servlet.UpdatePerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientDetailsAdd</servlet-name>
        <servlet-class>servlet.ClientAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewClientJson</servlet-name>
        <servlet-class>servlet.viewClientJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSiteJson</servlet-name>
        <servlet-class>servlet.viewSiteJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>servlet.DeleteClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetClientServlet</servlet-name>
        <servlet-class>servlet.SetClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>servlet.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeAttendanceServlet</servlet-name>
        <servlet-class>servlet.MakeAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSecurityJson</servlet-name>
        <servlet-class>servlet.ViewSecurityJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSiteServlet</servlet-name>
        <servlet-class>servlet.SetSiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAssignJson</servlet-name>
        <servlet-class>servlet.viewAssignJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAdvanceServlet</servlet-name>
        <servlet-class>servlet.SetAdvanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdvancePayment</servlet-name>
        <servlet-class>servlet.AddAdvancePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRequireJson</servlet-name>
        <servlet-class>servlet.viewRequireJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeAssignmentServlet</servlet-name>
        <servlet-class>servlet.MakeAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSiteServlet</servlet-name>
        <servlet-class>servlet.AddSiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuotationJson</servlet-name>
        <servlet-class>servlet.ViewQuotationJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewClientQuotation</servlet-name>
        <servlet-class>servlet.viewClientQuotation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuotationServlet</servlet-name>
        <servlet-class>servlet.AddQuotationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSiteServlet1</servlet-name>
        <servlet-class>servlet.SetSiteServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetails</servlet-name>
        <servlet-class>servlet.GetDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAttendance</servlet-name>
        <servlet-class>servlet.SetAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendance</servlet-name>
        <servlet-class>servlet.UpdateAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetGuestServlet</servlet-name>
        <servlet-class>servlet.SetGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewGuestQuotation</servlet-name>
        <servlet-class>servlet.viewGuestQuotation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAssignJson</servlet-name>
        <servlet-class>servlet.getAssignJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>servlet.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAssignedPerson</servlet-name>
        <servlet-class>servlet.GetAssignedPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAttendanceClient</servlet-name>
        <servlet-class>servlet.GetAttendanceClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>servlet.BillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuotation</servlet-name>
        <servlet-class>servlet.AddQuotation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAndroClient</servlet-name>
        <servlet-class>AndroServlet.GetAndroClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAndroSite</servlet-name>
        <servlet-class>AndroServlet.GetAndroSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClient</servlet-name>
        <servlet-class>servlet.UpdateClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAndroSecurity</servlet-name>
        <servlet-class>AndroServlet.GetAndroSecurity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAddQuotation</servlet-name>
        <servlet-class>servlet.NewAddQuotation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAllBills</servlet-name>
        <servlet-class>servlet.DownloadAllBills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServlet1</servlet-name>
        <servlet-class>servlet.BillServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBillServlet</servlet-name>
        <servlet-class>servlet.EditBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBillSer</servlet-name>
        <servlet-class>servlet.SaveBillSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintServlet</servlet-name>
        <servlet-class>servlet.PrintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerDelBill</servlet-name>
        <servlet-class>servlet.SerDelBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSecurityPersonServlet</servlet-name>
        <url-pattern>/AddSecurityPersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailsServlet</servlet-name>
        <url-pattern>/ViewDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBankServlet</servlet-name>
        <url-pattern>/UpdateBankServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePerServlet</servlet-name>
        <url-pattern>/UpdatePerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDetailsAdd</servlet-name>
        <url-pattern>/ClientDetailsAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewClientJson</servlet-name>
        <url-pattern>/viewClientJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSiteJson</servlet-name>
        <url-pattern>/viewSiteJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/DeleteClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetClientServlet</servlet-name>
        <url-pattern>/SetClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeAttendanceServlet</servlet-name>
        <url-pattern>/MakeAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSecurityJson</servlet-name>
        <url-pattern>/ViewSecurityJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSiteServlet</servlet-name>
        <url-pattern>/SetSiteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAssignJson</servlet-name>
        <url-pattern>/viewAssignJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAdvanceServlet</servlet-name>
        <url-pattern>/SetAdvanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdvancePayment</servlet-name>
        <url-pattern>/AddAdvancePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRequireJson</servlet-name>
        <url-pattern>/viewRequireJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeAssignmentServlet</servlet-name>
        <url-pattern>/MakeAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSiteServlet</servlet-name>
        <url-pattern>/AddSiteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuotationJson</servlet-name>
        <url-pattern>/ViewQuotationJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewClientQuotation</servlet-name>
        <url-pattern>/viewClientQuotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuotationServlet</servlet-name>
        <url-pattern>/AddQuotationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSiteServlet1</servlet-name>
        <url-pattern>/SetSiteServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetails</servlet-name>
        <url-pattern>/GetDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAttendance</servlet-name>
        <url-pattern>/SetAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendance</servlet-name>
        <url-pattern>/UpdateAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetGuestServlet</servlet-name>
        <url-pattern>/SetGuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewGuestQuotation</servlet-name>
        <url-pattern>/viewGuestQuotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAssignJson</servlet-name>
        <url-pattern>/getAssignJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAssignedPerson</servlet-name>
        <url-pattern>/GetAssignedPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttendanceClient</servlet-name>
        <url-pattern>/GetAttendanceClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/BillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuotation</servlet-name>
        <url-pattern>/AddQuotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAndroClient</servlet-name>
        <url-pattern>/GetAndroClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAndroSite</servlet-name>
        <url-pattern>/GetAndroSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClient</servlet-name>
        <url-pattern>/UpdateClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAndroSecurity</servlet-name>
        <url-pattern>/GetAndroSecurity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAddQuotation</servlet-name>
        <url-pattern>/NewAddQuotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAllBills</servlet-name>
        <url-pattern>/DownloadAllBills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServlet1</servlet-name>
        <url-pattern>/BillServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBillServlet</servlet-name>
        <url-pattern>/EditBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBillSer</servlet-name>
        <url-pattern>/SaveBillSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintServlet</servlet-name>
        <url-pattern>/PrintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerDelBill</servlet-name>
        <url-pattern>/SerDelBill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>Driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/rajsecurity</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value></param-value>
    </context-param>
    <listener>
        <listener-class>servlet.MyContextListener</listener-class>
    </listener>
    <!--    <multipart-config>
        <max-allowed-packet>3371382000</max-allowed-packet>
        <max-file-size>20848820</max-file-size>
        <max-request-size>418018841</max-request-size>
        <file-size-threshold>481034800</file-size-threshold>
    </multipart-config>-->
</web-app>
